

.article-heading{
	text-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);

	h1{
		margin: 0;
		padding: 0;
		line-height: 1em;

		@include NewBaskervilleStdRoman;
		font-size: 80px;

		@include respond-to(medium) {
			font-size: 60px;
		}

		@include respond-to(small) {
			font-size: 40px;
		}
	}

	.article-date{
		text-transform: uppercase;
		@include CalibreRegular;
		font-size: 18px;
	}

	.article-author{
		&, a{
			@include NewBaskervilleStdItalic;
			font-size: 18px;

			&,
			&:hover,
			&:focus{
				color: #fff;
			}
		}
	}
}




.article-meta{
	background-color: #fff;
	border-bottom: 1px solid #000;
	border-right: 1px solid #000;

	.row{
		margin: 0;
	}

	[class*="col-"] {
		position: relative;
		padding: 0;

		a {
			@include CalibreMedium;
			font-size: 16px;
			display: block;
			text-align: center;
			color: #000;
			text-transform: uppercase;
			border-top: 1px solid #000;
			border-left: 1px solid #000;

			padding: 65px 0px;
			@include respond-to(x-large) {
				padding: 40px 0;
			}
			@include respond-to(x-large) {
				padding: 30px 0;
			}
			@include respond-to(medium) {
				padding: 25px 0;
			}
			@include respond-to(small) {
				padding: 20px 0;
			}

			&:hover,
			&:focus{
				@include brand-color-bg(light1);
			}
		}
	}
}



.page-content.article-body{
	padding-bottom: 0px;
}



.page-content .page-body.is-article.article-comments,
.article-comments{
	max-width: 840px;
	padding: 200px 0 250px;
	@include respond-to(x-large) {
		padding: 100px 0 150px;
	}
	@include respond-to(medium) {
		padding: 50px 0 80px;
	}

	.article-comments-heading{
		@include SUWoodwardScript;
		font-size: 100px;
		text-transform: none;
		-webkit-transform: rotate(-3deg) translateY(5px);
		-moz-transform: rotate(-3deg) translateY(5px);
		-ms-transform: rotate(-3deg) translateY(5px);
		-o-transform: rotate(-3deg) translateY(5px);
		transform: rotate(-3deg) translateY(5px);
		display: inline-block;
	}

}