
.navigation-wrapper{
	position: relative;
}

.navigation{
	height: 100px;
	position: absolute;
	z-index: 10;
	top: 0;
	left: 0;
	width: 100%;

	@include respond-to(small) {
		height: 80px;
	}

	.container,
	.container-fluid{
		padding-top: 36px;

		@include respond-to(small) {
			text-align: center;
			padding-top: 26px;
		}
	}

	.logotype{
		margin-left: 10px;
		font-size: 28px;
		line-height: 28px;
		vertical-align: middle;
		color: #000;

		@include respond-to(small) {
			.icon-logotype{
				&:before{
					content: "\e900";
				}
			}
		}

		@include respond-to(x-small) {
			font-size: 20px;
		}

		&,
		&:hover,
		&:focus{
			text-decoration: none;
		}
	}

	.pull-right{
		@include respond-to(small) {
			float: none !important;
			display: inline-block;
			margin-left: 20px;
		}
	}

	.burger{
		margin-right: 10px;
		font-size: 28px;
		line-height: 28px;
		vertical-align: middle;
		color: #000;

		@include respond-to(x-small) {
			font-size: 20px;
		}

		&,
		&:hover,
		&:focus{
			text-decoration: none;
		}
	}

	&.inverse{
		.logotype,
		.burger{
			@include brand-color(light1);
		}
	}

}

.navigation-spacer{
	height: 100px;
	@include respond-to(small) {
		height: 80px;
	}

	&.is-over-banner{
		position: absolute;
	}
}