
.navigation-wrapper{
	position: relative;
}

.navigation{
	height: 100px;
	position: absolute;
	z-index: 10;
	top: 0;
	left: 0;
	width: 100%;

	@include respond-to(small) {
		height: 80px;
	}

	.container,
	.container-fluid{
		padding-top: 36px;

		@include respond-to(small) {
			text-align: center;
			padding-top: 26px;
		}
	}

	.logotype{
		margin-left: 10px;
		font-size: 28px;
		line-height: 28px;
		vertical-align: middle;
		color: #000;

		@include respond-to(small) {
			.icon-logotype{
				&:before{
					content: "\e900";
				}
			}
		}

		@include respond-to(x-small) {
			font-size: 20px;
		}

		&,
		&:hover,
		&:focus{
			text-decoration: none;
		}
	}

	.pull-right{
		@include respond-to(small) {
			float: none !important;
			display: inline-block;
			margin-left: 20px;
		}
	}

	.burger{
		margin-right: 10px;
		font-size: 28px;
		line-height: 28px;
		vertical-align: middle;
		color: #000;

		@include respond-to(x-small) {
			font-size: 20px;
		}

		&,
		&:hover,
		&:focus{
			text-decoration: none;
		}
	}

	&.inverse{
		.logotype,
		.burger{
			@include brand-color(light1);
		}
	}

}

.navigation-spacer{
	height: 100px;
	@include respond-to(small) {
		height: 80px;
	}

	&.is-over-banner{
		position: absolute;
	}
}













// Funcionality for headroom (scroll to hide/show navigation effect)
 .navigation--clone{
 	display: none;
 }

 .headroom .navigation--clone{
 	display: block;
 }

.headroom--pinned.headroom--not-top .navigation--clone, 
.headroom--unpinned .navigation--clone {
	background-color: #fff;
	will-change: transform, background-color, height;
	-webkit-transition: -webkit-transform 200ms linear, background-color 200ms linear, height 200ms linear;
	-moz-transition: -moz-transform 200ms linear, background-color 200ms linear, height 200ms linear;
	-ms-transition: -ms-transform 200ms linear, background-color 200ms linear, height 200ms linear;
	-o-transition: -o-transform 200ms linear, background-color 200ms linear, height 200ms linear;
	transition: transform 200ms linear, background-color 200ms linear, height 200ms linear;

	.container-fluid{
  	-webkit-transition: padding-top 0.2s;
  	-moz-transition: padding-top 0.2s;
  	-ms-transition: padding-top 0.2s;
  	-o-transition: padding-top 0.2s;
  	transition: padding-top 0.2s;
  }

  .logotype,
  .burger {
  	-webkit-transition: font-size 0.2s, color 0.2s;
  	-moz-transition: font-size 0.2s, color 0.2s;
  	-ms-transition: font-size 0.2s, color 0.2s;
  	-o-transition: font-size 0.2s, color 0.2s;
  	transition: font-size 0.2s, color 0.2s;
  }

	position: fixed;
	left: 30px;
	right: 30px;
	top: 0;
	width: auto;
	text-align: center;

	@include respond-to(small){
    left: 20px;
    right: 20px;
  }

  @include respond-to(x-small){
    left: 10px;
    right: 10px;
  }

  .icon-logotype{
		&:before{
			content: "\e900";
		}
	}

	.pull-right{
		float: none !important;
		display: inline-block;
		margin-left: 20px;
	}

	.logotype,
  .burger {
  	color: #000;
  }
}

.admin-bar.headroom--pinned.headroom--not-top .navigation--clone, 
.admin-bar.headroom--unpinned .navigation--clone {
	top: 32px;

	@media screen and (max-width: 782px) {
		top: 46px;
	}

	@media screen and (max-width: 600px) {
		top: 0px;
	}
}

.admin-bar.headroom--pinned.headroom--not-top .navigation--clone,
.admin-bar.headroom--unpinned .navigation--clone,
.admin-bar .frame-border.frame-top {
	top: 32px;

	@media screen and (max-width: 782px) {
		top: 46px;
	}

	@media screen and (max-width: 600px) {
		top: 0px;
	}
}

.admin-bar.headroom--pinned.headroom--not-top.menu-is-open .navigation--clone,
.admin-bar.headroom--unpinned.menu-is-open .navigation--clone,
.admin-bar.menu-is-open .frame-border.frame-top {
	-webkit-transition: top 0.2s;
	-moz-transition: top 0.2s;
	-ms-transition: top 0.2s;
	-o-transition: top 0.2s;
	transition: top 0.2s;
	top: 0;
}


.headroom--pinned.headroom--not-top .navigation--clone {
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
    transform: translateY(0%);
    background-color: #fff;
    height: 80px;

    .logotype{
    	font-size: 19px;
    }

    .burger{
    	font-size: 15px;
    }

    .container-fluid{
    	padding-top: 25px;
    }
}


.headroom--unpinned .navigation--clone {
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%);
}

.frame-border.frame-top{
	-webkit-transition: -webkit-transform 0.2s;
	-moz-transition: -moz-transform 0.2s;
	-ms-transition: -ms-transform 0.2s;
	-o-transition: -o-transform 0.2s;
	transition: transform 0.2s;
	
	-webkit-transform: translateY(0%);
	-moz-transform: translateY(0%);
	-ms-transform: translateY(0%);
	-o-transform: translateY(0%);
	transform: translateY(0%);
}

.headroom--pinned.headroom--not-top .frame-border.frame-top{
	-webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%);	
}