.overlay-menu{
	position: fixed;
	top: -900%;
	left: 0;
	width: 100%;
	height: 100%;

	z-index: 900;
	opacity: 0;

	overflow: auto;

	.overlay{
		position: fixed;
		top: -900%;
		left: 0;
		right: 0;
		height: 100%;

		background: #000 url(../images/scratched-texture.png) center top repeat-x;
	}

	.container{
		@include respond-to(x-small) {
			width: 100%;
		}
	}

	.menu-wrapper{
		position: relative;
		// left: 0;
		// top: 0;
		// right: 0;
		// bottom: 0;

		z-index: 5;

		display: flex;
	  align-items: center;
	  justify-content: center;
	  min-height: 100vh;
	  // overflow: auto;

	  .container{
	  	padding-top: 30px;
	  	padding-bottom: 30px;
	  }

	  .menu-box{
	  	margin: 0 auto;
	  	width: 100%;
	  	max-width: 460px;
	  	border: 1px solid #fff;
	  	color: #fff;
	  	position: relative;
	  	z-index: 5;

	  	a{
	  		color: #fff;

	  		&,
	  		&:hover,
	  		&:focus{
	  			text-decoration: none;
	  		}
	  	}

	  	.menu-header{
	  		border-bottom: 1px solid #fff;
	  		padding: 20px;
	  		position: relative;

	  		.js-close{
	  			position: absolute;
	  			right: 0;
	  			top: 0;
	  			bottom: 0;
	  			height: 60px;
	  			line-height: 60px;
	  			padding: 0 15px;
	  			font-size: 30px;
	  			border-left: 1px solid #fff;
	  		}
	  	}

	  	.menu-navigation{
	  		padding: 50px 0px 40px;
	  		border-bottom: 1px solid #fff;

	  		@include respond-to(x-small) {
					padding: 10px 0;
				}

	  		ul{
	  			margin: 0;
	  			padding: 0;

	  			li{
	  				display: block;
	  				padding: 0 25px;

	  				a{
	  					@include NewBaskervilleStdSemiBold;
	  					font-size: 88px;
	  					line-height: 60px;
	  					position: relative;
	  					padding: 12px 0;
	  					display: inline-block;

	  					@include respond-to(x-small) {
								font-size: 70px;
							}

	  					span{
	  						position: relative;

	  						&:after{
		  						content: "";
		  						position: absolute;
		  						top: 55%;
		  						left: 0;
		  						height: 2px;
		  						width: 0;
		  						background-color: #2BD8D0;
		  						transition: width 0.5s;
		  						z-index: 2;
		  						pointer-events: none;
		  					}
	  					}

	  					&:focus,
	  					&:hover{
	  						@include NewBaskervilleStdSemiBoldItalic;
	  						padding-right: 20px;

	  						span{
	  							&:after{
	  								width: 100%;
	  							}
	  						}
	  					}
	  				}

	  			}
	  		}
	  	} //ends .menu-navigation

			.menu-quicklinks{
				padding: 50px 25px;
				border-bottom: 1px solid #fff;

				@include respond-to(small) {
					padding: 20px 25px;
				}

				ul{
					margin: 0;
					padding: 0;
					list-style: none;

					li{
						display: block;
						margin-bottom: 25px;
						&:last-child{
							margin-bottom: 0;
						}

						a{
							display: block;
							@include CalibreMedium;
							font-size: 16px;
							line-height: 14px;
							text-transform: uppercase;
							letter-spacing: 3px;
						}
					}
				}
			} // ends .menu-quicklinks


			.menu-sociallinks{
				font-size: 0px;
				padding: 25px;
				border-bottom: 1px solid #fff;

				ul{
					margin: 0;
					padding: 0;
					list-style: none;

					li{
						display: inline-block;
						padding: 0 20px;
						border-right: 1px solid #fff;

						&:first-child{
							padding-left: 0px;
						}

						&:last-child{
							padding-right: 0px;
							border-right: none;
						}

						a{
							@include NewBaskervilleStdItalic;
							font-size: 18px;
						}
					}
				}
			} // ends .menu-sociallinks

			.menu-signature{
				padding: 15px 25px;
				color: #fff;
				font-size: 50px;
				text-align: right;

				i{
					transform: rotate(-5deg);
				}
			}

	  }
	}
}

.menu-is-open{
	.content-wrapper{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		overflow: auto;
	}

	.overlay-menu{
		transition: opacity 0.5s;
		opacity: 1;
		top: 0;
		.overlay{
			top: 0;
		}
	}
}

&.no-flow{
	.content-wrapper{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		overflow: auto;
	}
}